**/coverage
**/.coverage
**/.terraform.lock.hcl

.DS_Store
**/.DS_Store
node_modules/
.pnpm-store
**/tsconfig.build.tsbuildinfo
**/tsconfig.tsbuildinfo
**/node_modules
.commit/
.env
!.env.development
**/dist
**/junit.xml
.test/**
!.test/.gitignore
.scannerwork
**/:memory
**/.aws-sam/*
*.tfvars
version.txt
**/.nx/**
**/.terraform
.*.sh
.trunk
**/apps/desktop/release/app/v8-compile-cache-0/**/**

**/apps/desktop/v8-compile-cache-0/**/**
